.modal-dialog {
    background: white;
}

.file-options {
    display: none;
}

.file-options:hover {
    color: gray;
}

tr:hover > td > a > .file-options {
    display: inline;
}

.file-name {
    padding: 12px 18px !important;
}