-extends "base.haml"

-block content

    %div.container-fluid
        %div.row-fluid
            %div.col-md-10.text-center
                %h3 << Uploaded Files
            %div.col-md-2.text-right
                %a.btn.btn-primary id='upload-btn'
                    Upload

        %div.row-fluid
            %div.col-md-12 id='main-table'
                %table
                    %tr
                        %th << File Name
                        %th 
                    -block file_rows

            %div.col-md-8.hidden id='stats-table'
