%form class='form-horizontal hidden' action='/upload' method=post id='upload-form' enctype='multipart/form-data'
    %div.input-group
        %input type="file" name="file" id="file" class='form-control'
        %div.input-group-btn
            %button type='submit' class='btn btn-primary' id='picture-button'
                Upload